# OPCIONES NO SENSIBLES DE POSTGRESQL PARA DESARROLLO
REDDIFF_BD_NOMBRE=reddiff
REDDIFF_BD_USUARIO_ADMIN=reddiff_admin
REDDIFF_BD_USUARIO_APLICACION=reddiff_app
REDDIFF_BD_PUERTO=5432
REDDIFF_ZONA_HORARIA=America/Guatemala

# RECEPCIÓN SYSLOG; DESHABILITADA HASTA PREPARAR EL LABORATORIO
REDDIFF_SYSLOG_HABILITADO=false
REDDIFF_SYSLOG_DIRECCION=0.0.0.0
REDDIFF_SYSLOG_PUERTO=5514
